header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 33px 125px 0 125px;
}

.logo-link {
    display: block;
    width: 131px;
    height: 39px;
    position: relative;

    color: #1BFF07;
    background-color: #000;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 100px;
    font-size: 42.414px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -4.666px;
    text-transform: uppercase;
    z-index: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 52px; /* in design gap is 50px, but here 52px to match pixel perfect */
}

.nav__link {
    color: #FFF;
    font-size: 18px;
    line-height: 23px;
}

.nav__link:nth-last-child(1) {
    margin-right: 0;
}

.nav__link:hover {
    color: #1BFF07
}
