header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding: 33px 125px 0 125px;
}

.logo-link {
    position: relative;
    z-index: 0;
    display: block;
    width: 131px;
    height: 39px;

    border-radius: 100px;
    padding-left: 11px;
    padding-right: 11px;
    color: #1BFF07;
    background-color: #000;

    font-size: 42.414px;
    line-height: 39px;
    font-weight: 700;
    letter-spacing: -4.666px;
    text-transform: uppercase;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 52px; /* in design gap is 50px, but here 52px to match pixel perfect */
}

.nav__link {
    font-size: 18px;
    line-height: 23px;
    color: #FFF;
}

.nav__link:nth-last-child(1) {
    margin-right: 0;
}

.nav__link:hover {
    color: #1BFF07
}

@media (max-width: 1199px) {
    .header-wrapper {
        padding: 32px 15px;
    }
}

@media (max-width: 767px) {
    .header-wrapper {
        padding: 32px 13px;
    }
}