@import "./header.css";
@import "./burger.css";
@import "./intro.css";
@import "./projects.css";
@import "./skills.css";
@import "./services.css";
@import "./contacts.css";
@import "./footer.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    color: #FFF;
    background-color: #000;
}

section {
    max-width: 1400px;
    padding: 75px 125px;
    margin: 0 auto;
}

main {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

* {
    letter-spacing: -0.03em;
}

h1 {
    color: #1BFF07;
    font-size: 80px;
    line-height: 70px;
}

h2 {
    font-size: 55px;
    line-height: 72px;
    margin-bottom: 40px;
}

h3 {
    font-size: 35px;
    line-height: 46px;
}

h4 {
    font-size: 30px;
    line-height: 39px;
}

p {
    font-size: 22px;
    line-height: 29px;
}

@media (max-width: 1199px) {
    section {
        width: 100%;
        padding: 75px 15px;   
    }

    main {
        padding-bottom: 7px;
    }
    
    h1 {
        font-size: 60px;
        line-height: 70px;
    }
    
    h2 {
        font-size: 45px;
        line-height: 59px;
        margin-bottom: 60px;
    }
    
    h3 {
        font-size: 28px;
        line-height: 36px;
    }
    
    h4 {
        font-size: 24px;
        line-height: 31px;
    }
    
    p {
        font-size: 18px;
        line-height: 23px;
    }

}

@media (max-width: 767px) {
    section {
        padding: 50px 12px 50px 13px;   
    }

    main {
        padding-bottom: 0;
    }
    
    h1 {
        font-size: 40px;
        line-height: 47px;
    }
    
    h2 {
        font-size: 30px;
        line-height: 39px;
        margin-bottom: 35px;
    }
    
    h3 {
        font-size: 28px;
        line-height: 36px;
    }
    
    h4 {
        font-size: 16px;
        line-height: 21px;
    }
    
    p {
        font-size: 18px;
        line-height: 23px;
    }
}