.services {
    padding-bottom: 150px;
}

.services__title {
    margin-bottom: 40px;
    max-width: 870px;

    font-size: 55px;
    line-height: 72px;
}

.services__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.serivce__image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.first {
    object-position: 50% 7%;
}

.third {
    object-position: 50% 34%;
}

.service__content {
    display: flex;
    column-gap: 20px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1150px;
    height: 283px;

    border-radius: 30px;
    background: #191C19;
}

.service__title {
    width: calc(50% - 10px);
    color: #1BFF07;
    font-size: 55px;
    line-height: 61px;
}

.service__desc {
    width: calc(50% - 10px);
}

@media (max-width: 1199px) {
    .services__title {
        margin-bottom: 60px;
        max-width: 716px;
    
        font-size: 45px;
        line-height: 59px;
    }

    .services__list {
        row-gap: 32px;
    }

    .serivce__image {
        height: 162px;
        border-radius: 24.261px;
    }
    
    .service__content {
        column-gap: 16px;
        padding-top: 32px;
        padding-right: 32px;
        padding-left: 32px;
        max-width: 100%;
        height: 229px;
        border-radius: 24.261px;
    }
    
    .service__title {
        width: calc(50% - 8px);
        font-size: 45px;
        line-height: 50px;
    }
    
    .service__desc {
        width: calc(50% - 8px);
    }
}

@media (max-width: 767px) {
    .services {
        padding-bottom: 100px;
    }

    .services__title {
        margin-bottom: 35px;
        max-width: 326px;
    
        font-size: 28px;
        line-height: 36px;
    }

    .services__list {
        row-gap: 60px;
    }

    .serivce__image {
        height: 225px;
    }

    .first {
        object-position: 50% 50%;
    }
    
    .third {
        object-position: 50% 50%;
    }
    
    .service__content {
        flex-direction: column;
        row-gap: 15px;
        padding-top: 30px;
        padding-right: 0;
        padding-left: 20px;
        padding-bottom: 60px;
        height: auto;
    }
    
    .service__title {
        width: 100%;
        font-size: 35px;
        line-height: 39px;
    }
    
    .service__desc {
        width: calc(100% - 23px);
    }
}